@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Academy</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <style>

        body {
            background-color: #f4f6fa;
            font-family: 'Segoe UI', Tahoma, sans-serif;
            display: flex;
            flex-direction: column;
        }

        /* ====== HEADER ====== */
        .main-header {
            background: linear-gradient(135deg, #0d6efd, #0a4fb3);
            color: white;
            padding: 18px 0;
            box-shadow: 0 6px 20px rgba(0,0,0,.15);
        }

        .logo-text {
            font-size: 26px;
            font-weight: 800;
            letter-spacing: .8px;
        }

        .nav-link {
            color: white !important;
            font-weight: 600;
            margin-left: 12px;
        }

            .nav-link:hover {
                text-decoration: underline;
            }

        .main-content {
            min-height: 100vh;
            padding-top: 34px;
        }

        /* ===== FOOTER ===== */
        footer {
            background: #0a4fb3;
            color: white;
            padding: 15px 0;
            text-align: center;
            bottom: 0;
        }

    </style>

</head>
<body>

    <!-- HEADER -->
    <header class="main-header">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo-text">
                🎓 Students System
            </div>

            <nav>
                <a class="nav-link d-inline" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-link d-inline" asp-controller="Account" asp-action="Login">Log In</a>
              

            </nav>
        </div>
    </header>

    <!-- BODY -->
    <main class="container main-content">
        @RenderBody()
    </main>

    <!-- FOOTER -->
    <footer>
        © 2026 – Academy Management System
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
